* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

/***** nav *****/

nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(83, 95, 164, 0.7);
  padding: 1rem;
  z-index: 99;
}

#logo {
  border-radius: 50%;
}

a {
  margin: 0 1rem;
  color: white;
}

#history {
  justify-self: end;
}

/***** sections *****/
.section {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.section-bg {
  width: 100%;
  height: 100%;
}

.section-banner {
  position: absolute;
  top: 0;
  width: 80%;
}

.section-n {
  display: flex;
  align-items: center;
}

.n {
  font-size: 5rem;
  color: rgba(12, 20, 65, 0.2);
}

.label {
  font-size: 1.5rem;
  color: rgba(12, 20, 65, 0.7);
  margin: 0.5rem 0 0 -1rem;
}

.section-text {
  font-family: sans-serif;
  margin-left: 2rem;
  font-size: 0.8rem;
}

/***** section 2 *****/
.section-two,
.section-three {
  position: relative;
}

/***** section 3 *****/
.section-banner-3 {
  width: 100%;
  padding: 0 10%;
  background: rgba(83, 95, 164, 0.7);
  display: flex;
  align-items: center;
}

.card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-auto-flow: column;
  font-family: sans-serif;
  grid-column-gap: 1rem;
  left: 4rem;
  padding: 2rem;
}

.card-col2 {
  align-self: end;
}

h2 {
  color: rgba(83, 95, 164, 0.9);
  padding: 0.4rem;
}

p {
  font-family: sans-serif;
  padding: 0.2rem;
}

/***** footer *****/

.footer {
  background-color: rgb(30, 30, 73);
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.copy {
  color: rgba(83, 95, 164, 0.9);
  font-size: 0.6rem;
}

/***** mobile *****/

.container-2 {
  display: none;
}

.item {
  border: 2px solid black;
}

.prime {
  border: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(83, 95, 164, 0.9);
  color: white;
}

.sub {
  display: none;
}

.open-prime {
  height: 10%;
}

.open-sub {
  height: 90%;
  display: block;
}

/***** carousel *****/
.carousel {
  position: absolute;
  width: 100%;
  height: 21%;
  bottom: 0;
  display: flex;
  align-items: center;
}

.gallery {
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
}

i {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

i:hover {
  cursor: pointer;
}

/***** responsive ******/

@media (max-width: 400px) {
  .container {
    display: none;
  }

  .container-2 {
    display: block;
    text-align: center;
    height: 100vh;
    display: grid;
  }

  .section {
    height: 100%;
  }

  .item:hover {
    cursor: pointer;
  }

  .section-three {
    height: 100%;
    display: grid;
    justify-items: center;
  }

  .card {
    position: static;
    padding: 1rem;
    margin: 0;
    left: 0;
  }
}
