* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

/***** nav *****/

nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(83, 95, 164, 0.7);
  padding: 1rem;
  z-index: 99;
}

#logo {
  border-radius: 50%;
}

a {
  margin: 0 1rem;
  color: white;
}

#history {
  justify-self: end;
}

/***** sections *****/
.section {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.section-bg {
  width: 100%;
  height: 100%;
}

.section-banner {
  position: absolute;
  top: 0;
  width: 80%;
}

.section-n {
  display: flex;
  align-items: center;
}

.n {
  font-size: 5rem;
  color: rgba(12, 20, 65, 0.2);
}

.label {
  font-size: 1.5rem;
  color: rgba(12, 20, 65, 0.7);
  margin: 0.5rem 0 0 -1rem;
}

.section-text {
  font-family: sans-serif;
  margin-left: 2rem;
  font-size: 0.8rem;
}

/***** section 1 *****/

.site-title {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.6);
  display: none;
}

#title-2 {
  color: rgba(12, 20, 65, 0.7);
}

/***** section 2 *****/
.section-two {
  position: relative;
}

/***** section 3 *****/
.section-three {
  position: relative;
}

.section-banner-3 {
  width: 100%;
  padding: 0 10%;
  background: rgba(83, 95, 164, 0.7);
  display: flex;
  align-items: center;
}

.card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-auto-flow: column;
  font-family: sans-serif;
  grid-column-gap: 1rem;
  left: 4rem;
  padding: 2rem;
}

.card-col2 {
  align-self: end;
}

h2 {
  color: rgba(83, 95, 164, 0.9);
  padding: 0.4rem;
}

p {
  font-family: sans-serif;
  padding: 0.2rem;
}
